body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dad7cd;
}

.container{
    width: 1250px;
    display: flex;
    overflow-x: scroll;
}
section{
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-columns: auto auto auto ;
}

img{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    filter: grayscale(80%);
    object-fit: cover;
}

.container::-webkit-scrollbar{
    display: none;
}
.container-wrap{
display: flex;
align-items: center;
justify-content: center;
margin: 10% auto;
}
svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 20px;
    fill: #f05454;
}
#backBtn, #nextBtn{

}
img:hover{
    filter: grayscale(0);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1300px){

        img{
            height: 200px;
            width: 300px;
        }
    }
